.contact {
  padding: 3rem 0;
  min-height: 100vh;
}

.contact__body {
  display: flex;
  min-height: 400px;
  width: 900px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: -3px -3px 7px rgba(0, 0, 0, 0.3), 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.contact__image {
  height: 100%;
  /* object-fit: cover; */
}

form {
  padding: 4rem 0;
}

.contact__form {
  padding: 20px;
  width: 100%;
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-group label {
  display: block;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

input,
textarea {
  font-size: 2rem;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid teal;
  width: 100%;
  color: gray;
}
